/* .button-64 {
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 12px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 30px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin: auto;
}

.button-64:active,
.button-64:hover {
    outline: 0;
} */

/* .button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 8px 15px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-64:hover span {
    background: none;
} */

.button-64 {
    align-items: center;
    background-color: whitesmoke;
    border: 0;
    border-radius: 4px;
    color: #000;
    padding: 7px 15px;
}

.button-64:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.gradient-text {
    background: linear-gradient(to right, #d8b4fe, #fb923c);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.inputEmail {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    color: #7a889e;
}
#subHeading {
    text-align: left;
    margin-left: 5px;
}

#instructions {
    font-size: 11px;
    text-align: left;
    color: #7a889e;
}

#test {
    cursor: pointer;
    color: #00ddeb;
}

#errorMessage {
    color: red;
    display: none;
}
